body{
	border:1px solid black;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1600px;
}
header{
	padding-bottom: 20px;
}
header img{
	margin-left: 105px;
	margin-top: 5px;
	width: 1200px;
}
header input{
	height: 30px;
	width: 150px;	
	margin-top: 10px;
	margin-left: 50px;
	vertical-align: top;
	text-align: right;
	
}
#seccion01{
	background: #2B2B2B;
	height: 440px;
}
#seccion01 article{
	display: inline-block;
	margin-top: 18px;
	vertical-align: top;
	width: 16%;
}
#seccion01 article img{
	margin-left: 20px;
	width: 200px
}
#seccion01 ul{
	list-style: none;
	margin-top: 45px;
	margin-left: 30px
}
#seccion01 ul li{
	padding-top: 9px
}
#secc01art02{
	background-color: #b4cf52;
	margin-left: 50px;
}
#secc01art03{
	background-color: #545454;
}
#secc01art04{
	background-color: #D43840
}
#secc01art05{
	background-color: #E4E4E4
}
#secc01art02,#secc01art03,#secc01art04,#secc01art05{
	height: 360px; 	
	padding-left: 40px;
	padding-top: 30px;
}
#seccion02{
	background-color: #2B2B2B;
}
#seccion02 article{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-right: 150px;
	padding-left: 60px;
}
#seccion02 article img{
	width: 380px;
}
#secc02art02 ul {
	list-style: none;
}
.colorblanco{
	color: white;
}
.colorgrisclaro{
	color: #9E9E9E
}
.colorgris{
	color: #7D7D7D
}
.nito{
	font-weight: bold;	
}
.letragrande{
	font-size: 2em;
}
.letranormal{
	font-size: 1.3em;
}